{% extends 'base.html'%}
{%block messageblock%}
<ul class="list-group mb-4">
  <li class="list-group-item p-4">
    <div class="form">
      <h2>Favorite Stocks</h2>
      {% for longName, dayHigh, dayLow, twoHundredDayAverage in stocks%}
      <h4>{{ longName }}</h4>
      <ul class="list-unstyled list-spaced">
        <li>Daily high: {{ dayHigh }}</li>
        <li>Daily low: {{ dayLow }}</li>
        <li>200 Day Average: {{ twoHundredDayAverage }}</li>
      </ul>
      {% endfor %}
    </div>
  </li>
</ul>

<ul class="list-group mb-4">
  <li class="list-group-item p-4">
    <div class="form">
      <h2>My Github Public Repos</h2>
      {% for item in repos %}
      <h4><a href='{{item.html_url}}'>{{ item.name }}</a></h4>
      <ul class="list-unstyled list-spaced">
        <li>Description: {{ item.description }}</li>
        <li>Date created: {{ item.created_at }}</li>
      </ul>
      {% endfor %}
      <a class="btn btn-primary" href="https://www.github.com/AM-ops">Go to my Github</a>
    </div>
  </li>
</ul>

<ul class="list-group mb-4">
  <li class="list-group-item p-4">
    <div class="input-group">
      <h2>Interesting Cat Fact of the Day</h2>
      <ul class="list-unstyled list-space text-center">
        <p>{{fact_text}}</p>
      </ul>
 </ul>

<div class="text-center" style="margin-bottom:20px;">
  <a class="btn btn-success" href="{% url 'home' %}">Go back Home</a>
</div>

{%endblock%}
